<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        User
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
        
          <ion-input label="Name" labelPlacement="floating" #Name></ion-input>
        </ion-item>
        <ion-item>
          
          <ion-input label="Password" labelPlacement="floating" #Password></ion-input>
        </ion-item>
      
      </ion-list>
      <ion-button (click)="save(Name.value,Password.value)">Log In</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
