<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Приклад1</ion-card-title> 
  </ion-card-header>
  <ion-card-content>
     <ion-button (click)="login()">Login</ion-button>
    <ion-button (click)="logout()">Logout</ion-button>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Приклад2</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
    <ion-button (click)="openAdmin()">Login Admin</ion-button>
    <ion-button (click)="openUser()">Login User</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
